@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.tablet-wrap {
  @include tablet {
    display: flex;
    border-bottom: 0.0625rem solid $cloud;
    padding: 0.1875rem 1.5rem;
  }
}
.inventory-items {
  &:hover {
    background-color: $cloud;
  }
  &__wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    border-top: 0.0625rem solid $cloud;
    padding: 0.75rem;
    width: 100%;
    @include tablet {
      border-top: none;
      justify-content: flex-start;
    }
  }

  &__item-wrap {
    margin: 0.75rem;
    display: flex;
    flex-direction: column;

    @include tablet {
      @include flex-space-between;
      flex-direction: row;
      border-top: none;
      margin: 0;
      width: 7.8125rem;
    }
  }

  .status-wrap {
    @include tablet {
      width: 15rem;
    }
  }

  &__heading {
    display: block;
    font-size: 0.625rem;
    color: $slate;
    @include tablet {
      display: none;
    }
  }

  &__detail {
    font-size: 0.75rem;
    margin-top: 0.125rem;
    margin-right: 1.25rem;
    line-height: 1.125rem;

    @include tablet {
      font-size: 0.8125rem;
      margin: 0;
      width: 100%;
    }
  }

  // icons
  &__icons-wrap {
    @include flex-space-between;
    width: 100%;
    padding: 0.75rem;
    @include tablet {
      align-items: center;
      display: flex;
      justify-content: space-between;
      width: 5.625rem;
    }
  }

  .delete-icon,
  .edit-icon {
    background-repeat: no-repeat;
    background-size: cover;
    width: 1.4375rem;
    height: 1.4375rem;
    margin-bottom: 0.1875rem;
    &:hover {
      cursor: pointer;
    }
  }
}

.right-arrow {
  display: inline-block;
  width: 1.1875rem;
  height: 1.1875rem;
  margin-left: 0.1875rem;
  background-image: url(../../assets/icons/chevron_right-24px.svg);
  background-size: cover;
  background-repeat: no-repeat;
  transition: transform 0.3s ease;
}

.tablet-wrap:hover .right-arrow {
  transform: translateX(0.25rem);
}

.item-link-wrap {
  @include tablet {
    width: 47%;
  }
}

.link-style {
  color: $indigo;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.name-category {
  display: flex;
  flex-direction: column;
  min-width: 9.0625rem;

  @include tablet {
    flex-direction: row;
    width: 50%;
    justify-content: flex-start;
    align-items: center;
    margin-right: -1.5rem;
  }
}

.status-qty-warehouse {
  display: flex;
  flex-direction: column;
  min-width: 9.0625rem;

  @include tablet {
    flex-direction: row;
    width: 50%;
    justify-content: flex-start;
    align-items: center;
  }
}
