@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;

hr {
  border: 1px solid $cloud;
}

.edit-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .edit-inv-title-wrap {
      display: flex;
      padding-top: 35x;
      background-color: #ffffff;
      position: absolute;
      top: 111px;
      left: 49.5%;
      margin-left: -43%;
      width: 87%;
      min-width: 18.375rem;
      display: flex;
      flex-direction: row;
      padding: 1.5rem;
      border-bottom: 1px solid $cloud;
      border-radius: 0.125rem;
      box-shadow: 0 -1px 4px 0 $cloud;

    @include tablet {
      flex-direction: row;
      padding: 1.29rem 1.5rem;
      justify-content: space-between;
      border-bottom: none;
    }
    @include desktop {
      width: 63rem;
      margin-left: -498px;
    }

    .edit-inv-icon-title-wrap{
      display: flex;
    }
  }

  &__title {
    font-size: 1.625rem;
    line-height: 1.75rem;
    margin-top: 0.4rem;
    margin-left: 5px;
    @include tablet {
      font-size: 1.75rem;
    }
  }

  &__form-section {
    padding: 32px;
    margin-top: 25px;
    width: 87%;
    background-color: #ffffff;
    box-shadow: 0 2px 5px 0 $cloud;
    border-radius: 0.125rem;
    @include tablet{
      margin-top: -1px;
    }
    @include desktop{
      width: 63rem;
    }
  }
}

.form {
  &__header {
    margin-bottom: 32px;
  }

  &__larger {
    height: 150px;
    resize: none;
  }
  &__category-select {
    position: relative;
    height: 36px;
    background-color: $white;
    border: 1px solid $cloud;
    border-radius: 20px;
    padding: 5px 16px;
    width: 100%;
    appearance: none;
    background-image: url("../../assets/icons/arrow_drop_down-24px.svg");
    background-repeat: no-repeat;
    background-position: 95% 50%;
    padding-right: 40px;

    // &:focus {
    //   background-image: url("../../assets/icons/blue-arrow.svg");
    // }
  }
  &__error {
    &-container {
      position: relative;
    }
  
   &-wrapper {
      position: absolute;
      top: 100%;
      display: flex;
      align-items: center;
      margin-top: -1rem;
    }
   }
  
  .error-icon {
    margin-right: 5px;
  }
  
  .error-message {
    margin: 0;
  }

  &__hr {
    margin: 32px 0;
    width: calc(100% + 64px);
    margin-left: -32px;

    @include tablet {
      display: none;
    }
  }

  &__radial-container {
    display: flex;
    flex-direction: row;
    gap: 100px;
    margin-bottom: 20px;
  }

  &__buttons {
    background-color: $lightgrey;
    width: calc(100% + 64px);
    margin-left: -32px;
    margin-bottom: -32px;
    padding: 32px;
    margin-top: 32px;
    display: flex;
    justify-content: center;
    gap: 32px;

    @include tablet {
      justify-content: right;
    }
  }

  &__tablet-container {
    @include tablet {
      display: flex;
      gap: 50px;
    }
  }

  &__left {
    @include tablet {
      width: 50%;
    }
  }

  &__right {
    @include tablet {
      width: 50%;
    }
  }

  &__tablet-divider {
    border-left: 1px solid $cloud;
    margin: 0 20px;
  }
}

.form-input {
  width: 100%;
  margin-bottom: 20px;
}

h3 {
  margin-bottom: 4px;
}

::placeholder {
  color: $cloud;
}

input[type="radio"] + label::before {
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 1px solid $lightgrey;
  border-radius: 50%;
  margin-right: 12px;
  vertical-align: middle;
}

input[type="radio"]:checked + label::before {
  background-color: $indigo;
  border: 1px solid $indigo;
}

.form__radial-container label {
  margin-left: 12px;
}

label {
  font-size: 14px;
  color: $slate;
}

.error-message {
  color: $red;
  font-size: 11px;
}
