@use "../../styles/partials/fonts" as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/global' as *;
@use '../../styles/partials/mixins' as *;
.warehouse-detail{

    &__imgname{
        display: flex;
        color: $black;

    }
    &__title{
        display: flex;
        justify-content: space-between;
        padding: 1rem;

        @include tablet{
            padding: 1rem 2rem;
        }
    }
&__edit{
    width: 2.25rem; //36px
    height: 2.25rem; //36px
    border-radius: 50%;
    background-color: $indigo;
    background-image: url(../../assets/icons/edit-24px-white.svg);
    background-repeat: no-repeat;
    background-size: 20px 20px; 
    background-position: 8px center; /* 水平位置和垂直居中 */
    border: none;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;

    @include tablet{
        width: 81px;
        height: 38px;
        border-radius: 20px;
        text-indent: 0;
        padding: 10px 10px 10px 20px; 
        color: $white;
    }
}
&__info{
    display: flex;
    flex-direction: column;
    border-top: 1px solid $cloud;
    border-bottom: 1px solid $cloud;
    @include tablet{
        flex-direction: row;
        justify-content: space-between;
        border-bottom: none;
        padding: 1rem 2rem;
    }
    @include desktop{
        justify-content: flex-start;
    }   
}
&__address{
    padding: 1rem 1rem;
    @include tablet{
        padding: 0 1rem;
        margin-top: 1rem;
    }
    @include desktop{
        margin-right: 25rem;
    }

}
&__addressCity{
    display: flex;
    flex-direction: row;

    @include tablet{
        flex-direction: column;
    }
}
&__contact{
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem;

    @include tablet{
        margin-top: 1rem;
        padding: 0 1rem 0 2rem;
        border-left: 1px solid $cloud;
    }

}

&__addressCity{

}

&__contactName{
    @include tablet{
        margin-right: 2rem;
    }
}
}