@use "./colors" as *;
@use "./fonts" as *;
@use "./mixins" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  background-color: $lightgrey;
}

// headers

h1 {
  font-size: 28px;
  line-height: 36px;
  font-weight: 600;
  color: $black;

  @include tablet {
    font-size: 32px;
    line-height: 40px;
  }

  @include desktop {
    font-size: 32px;
    line-height: 40px;
  }
}

h2 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;

  @include tablet {
    font-size: 24px;
    line-height: 32px;
  }

  @include desktop {
    font-size: 24px;
    line-height: 32px;
  }
}

h3 {
  font-size: 13px;
  line-height: 20px;
  font-weight: 500;

  @include tablet {
    font-size: 14px;
    line-height: 22px;
  }

  @include desktop {
    font-size: 14px;
    line-height: 22px;
  }
}

h4 {
  font-size: 11px;
  line-height: 16px;
  color: $slate;

  @include tablet {
    font-size: 12px;
    line-height: 18px;
  }

  @include desktop {
    font-size: 12px;
    line-height: 18px;
  }
}

// paragraphs

.p1 {
  font-size: 15px;
  line-height: 26px;

  @include tablet {
    font-size: 16px;
    line-height: 28px;
  }

  @include desktop {
    font-size: 16px;
    line-height: 28px;
  }
}

.p2 {
  font-size: 13px;
  line-height: 20px;
  color: $black;

  @include tablet {
    font-size: 14px;
    line-height: 22px;
  }

  @include desktop {
    font-size: 14px;
    line-height: 22px;
  }
}

.p3 {
  font-size: 11px;
  line-height: 16px;

  @include tablet {
    font-size: 12px;
    line-height: 18px;
  }

  @include desktop {
    font-size: 12px;
    line-height: 18px;
  }
}

//buttons

.primary-button {
  background-color: $indigo;
  color: $white;
  height: 36px;
  border: none;
  border-radius: 20px;
  text-align: center;
  padding: 7px 16px;
  font-size: 13px;
  font-weight: 600;
  width: 100%;

  @include tablet {
    height: 38px;
    font-size: 14px;
    width: auto;
  }

  @include desktop {
    height: 38px;
    font-size: 14px;
    width: auto;
    width: auto;
  }

  &:hover {
    background-color: $black;
  }
}

.secondary-button {
  background-color: $white;
  color: $slate;
  height: 36px;
  border: 1px solid $cloud;
  border-radius: 20px;
  text-align: center;
  padding: 7px 16px;
  font-size: 13px;
  font-weight: 600;
  width: 100%;

  @include tablet {
    height: 38px;
    font-size: 14px;
    width: auto;
  }

  @include desktop {
    height: 38px;
    font-size: 14px;
    width: auto;
  }

  &:hover {
    background-color: $white;
    color: $indigo;
    border: 1px solid $indigo;
  }
}

.delete-button {
  background-color: $red;
  color: $white;
  height: 36px;
  border: none;
  border-radius: 20px;
  text-align: center;
  padding: 8px 16px;
  font-size: 13px;
  font-weight: 600;
  width: 100%;

  @include tablet {
    height: 38px;
    padding: 7px 16px;
    font-size: 14px;
    width: auto;
  }

  @include desktop {
    height: 38px;
    padding: 7px 16px;
    font-size: 14px;
    width: auto;
  }

  &:hover {
    background-color: $black;
  }
}

//input boxes

.form-input {
  height: 2.25rem;
  width: 100%;
  background-color: $white;
  border: .0625rem solid $cloud;
  border-radius: 1.25rem;
  padding: .625rem 1rem;

  @include tablet {
    height: 2.375rem;
  }

  @include desktop {
    height: 2.375rem;
  }

  &:focus {
    border-color: $indigo;
    outline: none;
    border-color: $indigo;

    &::placeholder {
      color: $black;
    }
  }

  &--error-state {
    border-color: $red;
  }
}

::placeholder {
  color: $slate;
}

//in and out of stock labels

.in-stock {
  color: $green;
  background-color: #15846312;
  text-transform: uppercase;
  border-radius: 20px;
  height: 24px;
  text-align: center;
  padding: 4px 16px;
  display: inline-block;
  width: 75%;
  @include tablet {
    height: 26px;
    max-width: 95px;
    min-width: 95px;
  }
}

.out-of-stock {
  color: $red;
  background-color: #c9451512;
  text-transform: uppercase;

  border-radius: 20px;
  height: 24px;
  text-align: center;
  padding-top: 4px;
  display: inline-block;

  @include tablet {
    height: 26px;
    max-width: 120px;
    min-width: 120px;
  }
}


// Page Title Section Styles
.page-title-section {
  background-color: #ffffff;
    position: absolute;
    top: 107px;
    left: 49.5%;
    margin-left: -43%;
    width: 87%;
    min-width: 18.375rem;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    border-bottom: 1px solid $cloud;
    border-radius: 0.125rem;
    box-shadow: 0 -1px 4px 0 $cloud;

  @include tablet {
    flex-direction: row;
    padding: 1.29rem 1.5rem;
    justify-content: space-between;
    border-bottom: none;
  }
  @include desktop {
    width: 63rem;
    margin-left: -498px;
  }
}

// Main Contents Section Styles (container for ul)
.main-contents-section{
  margin-top: 131px;
  width: 87%;
  background-color: #ffffff;
  box-shadow: 0 2px 5px 0 $cloud;
  border-radius: 0.125rem;
  @include tablet{
    margin-top: -1px;
  }
  @include desktop{
    width: 63rem;
  }
}