@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.inventory-list {
  &:last-child {
    @include tablet {
      border-bottom: none;
    }
  }

  &__headings-container {
    display: none;
    @include tablet {
      display: block;
      display: flex;
      flex-direction: row;
      padding: 0.5625rem 2rem;
      color: $slate;
      background-color: $lightgrey;
    }
  }

  &__headers-wrap {
    display: flex;
    width: 100%;
  }

  &__headings {
    width: 47%;
    font-size: 0.6875rem;
    display: flex;
  }

  &__sort-icon {
    width: 1rem;
    height: 1rem;
    margin-left: 0.125rem;
  }

  &__header-item,
  &__action {
    font-size: 0.6875rem;
  }

  &__category {
    margin-left: -0.8125rem;
  }
}

.item-category-headers,
.status-qty-headers {
  display: flex;
  width: 50%;
  margin-right: -2.6875rem;
}

.qty-info-header {
  width: 64%;
}
