@use '../../styles/partials/colors' as *;
@use '../../styles/partials/global' as *;
@use '../../styles/partials/mixins' as *;

.deletemodal {
    box-shadow: 0 0.125rem 0.3125rem 0 $cloud;
    padding:1rem;
    height: 100%;
    position: fixed;
    top: 0%;
    left: 0%;
    background-color: $white;
    z-Index: 1000;

    @include tablet{
        width: 600px;
        height:15rem;
        padding: 2rem;
        top: 15%;
        left: 10%;
        border-radius: 4px;
    }

    @include desktop{
        top: 20%;
        left: 25%;
    }

    &__close{
        position: absolute;
        right: 0%;
    }

    &__text{
        margin:1rem 0;
        font-weight: 400;
    }

    &__cancel{
        position: absolute;
        bottom: 0%;
        width: 8rem;
        @include tablet{
            left:65%;
            width: 5rem;
        }
    }
    &__delete{
        position: absolute;
        left:50%;
        bottom: 0%;
        width: 8rem;
        @include tablet{
            left: 85%;
            width: 5rem;
        }
    }
}