@use '../../styles/partials/colors' as *;
@use '../../styles/partials/global' as *;
@use '../../styles/partials/mixins' as *;

.deletemodal {
    padding:1rem;
    height: 100%;
    position: fixed;
    top: 0%;
    left: 0%;
    background-color: $white;
    z-Index: 1000;

    @include tablet{
        width: 600px;
        height:20rem;
        padding: 2rem;
        top: 15%;
        left: 10%;
        border-radius: 4px;
    }

    @include desktop{
        top: 20%;
        left: 25%;
    }

    &__close{
        position: absolute;
        right: 1rem;
        top: 1rem;

    }
    &__header{
        margin: 3.75rem 1rem 1rem 1rem;
    }

    &__text{
        margin:1rem;
        font-weight: 400;
    }

    &__cancel{
        position: absolute;
        bottom: 0%;
        width: 8rem !important;
        @include tablet{
            left:60%;
            width: 5rem;
        } 
    }
    &__delete{
        position: absolute;
        left:50%;
        bottom: 0%;
        width: 8rem !important;
        @include tablet{
            left: 80%;
            width: 5rem; 
        } 
    }

    &__backdrop{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(19, 24, 44, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}