@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;

.add-item {
  box-shadow: 0 0.125rem 0.3125rem 0 $cloud;
  border-radius: 0.125rem;
  background-color: $white;
  position: absolute;
  top: 8.0625rem;
  left: 50%;
  margin-left: -44%;
  width: 87%;
  min-width: 18.375rem;

  @include tablet {
    top: 5.8125rem;
    margin-left: -45.5%;
    width: 91%;
  }
  @include desktop {
    width: 63rem;
    margin-left: -31.5625rem;
  }

  &__title-wrap {
    display: flex;

  }

  &__title {
    font-size: 1.625rem;
    line-height: 1.75rem;
    margin-top: 0.4rem;
    @include tablet {
      font-size: 1.75rem;
    }
  }
}