@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.warehouses {
  box-shadow: 0 0.125rem 0.3125rem 0 $cloud;
  border-radius: 0.125rem;
  background-color: $white;
  position: absolute;
  top: 8.0625rem;
  left: 50%;
  margin-left: -44%;
  width: 87%;
  min-width: 18.375rem;

  @include tablet {
    top: 5.8125rem;
    margin-left: -46%;
    width: 91%;
  }
  @include desktop {
    width: 63rem;
    margin-left: -31.5625rem;
  }

  // Title Section Styles
  &-title-section-wrap {
    display: flex;
    flex-direction: column;
    margin: 1.5rem;

    @include tablet {
      margin: 2rem 2rem 1.6875rem 2rem;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__title {
    font-size: 1.625rem;
    line-height: 1.75rem;
    margin-top: 0.4rem;
    @include tablet {
      font-size: 1.75rem;
    }
  }

  .search-button-wrap {
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
    }
  }

  .search-bar-wrap {
    position: relative;
  }
  &__search-bar,
  &__add-button {
    margin-top: 1rem;

    @include tablet {
      margin-top: 0;
    }
  }

  &__search-bar {
    padding: 0rem 0.8125rem;
    width: 100%;
    @include tablet {
      width: 91%;
    }
    @include desktop {
      width: 17.375rem;
      margin-right: 1rem;
    }

    &::placeholder {
      font-size: 0.75rem;
      @include tablet {
        font-size: 0.8125rem;
      }
    }
  }

  &__search-icon {
    position: absolute;
    right: 0.8125rem;
    top: 1.4375rem;
    width: 1.4375rem;

    @include tablet {
      right: 1.875rem;
      top: 0.4375rem;
      width: 1.5625rem;
    }
  }

  &__add-button {
    font-size: 0.75rem;
    font-weight: 100;
    @include tablet {
      font-size: 0.8125rem;
    }
  }

  // Lists Section Styles
  .warehouses-list {
    &:last-child {
      @include tablet {
        border-bottom: none;
      }
    }
    //list main headings
    &__main-headings {
      display: none;
      @include tablet {
        display: block;
        display: flex;
        flex-direction: row;
        padding: 0.5625rem 2rem;
        color: $slate;
        background-color: $lightgrey;
      }

      .warehouse-headers-wrap {
        display: flex;
        width: 100%;

        .name-address-headers,
        .contact-name-info-headers {
          display: flex;
          width: 50%;
          margin-right: -2.6875rem;
        }

        .main-headings-texts {
          width: 47%;
          font-size: 0.6875rem;
          display: flex;

          .sort-icon {
            width: 1rem;
            height: 1rem;
            margin-left: 0.125rem;
          }
        }

        .contact-info-header {
          width: 64%;
        }
      }
      .warehouse-headers,
      .action-text {
        font-size: 0.6875rem;
      }

      .address-header {
        margin-left: -0.8125rem;
      }
    }

    // warehouses list details
    &__item {
      padding: 1.125rem 1.5rem;
      border-top: 0.0625rem solid $cloud;
      display: flex;
      flex-direction: column;

      @include tablet {
        @include flex-space-between;
        padding: 1.1875rem 2rem;
        flex-direction: row;
        border-top: none;
        border-bottom: 0.0625rem solid $cloud;
      }
    }

    .warehouse-details-wrap {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      @include tablet {
        width: 100%;
        justify-content: normal;
      }
    }

    .name-address-wrap,
    .contact-name-info-wrap {
      display: flex;
      flex-direction: column;
      min-width: 9.0625rem;
      @include tablet {
        flex-direction: row;
        align-items: center;
        width: 50%;
        margin-right: -2.6875rem;
      }
    }

    .heading-detail-wrap {
      margin-right: 0.625rem;
      margin-bottom: 0.9375rem;

      @include tablet {
        justify-content: space-around;
        margin: 0;
        width: 45%;
      }
    }

    .contact-name {
      @include tablet {
        margin-left: 5%;
      }
    }

    &__heading {
      display: block;
      font-size: 0.625rem;
      color: $slate;
      @include tablet {
        display: none;
      }
    }

    &__detail {
      font-size: 0.75rem;
      margin-top: 0.125rem;
      margin-right: 1.25rem;
      line-height: 1.125rem;
      @include tablet {
        font-size: 0.8125rem;
        width: 93%;
        margin: 0;
      }
    }

    .link-style {
      color: $indigo;
      font-weight: 600;
      display: flex;
      align-items: center;

      .right-arrow {
        display: inline-block;
        width: 1.1875rem;
        height: 1.1875rem;
        margin-left: 0.1875rem;
        background-image: url(../../assets/icons/chevron_right-24px.svg);
        background-size: cover;
        background-repeat: no-repeat;
      }
    }

    // icons
    .icons-wrap {
      @include flex-space-between;
      @include tablet {
        align-items: center;
        width: 4.375rem;
      }
    }

    &__delete-icon,
    &__edit-icon {
      background-repeat: no-repeat;
      background-size: cover;
      width: 1.4375rem;
      height: 1.4375rem;
      margin-bottom: 0.1875rem;
    }
  }
}
