@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.warehouse-edit-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    //----- title section ----- //
    .title-section {
        background-color: #ffffff;
        position: absolute;
        top: 111px;
        left: 49.5%;
        margin-left: -43%;
        width: 87%;
        min-width: 18.375rem;
        display: flex;
        flex-direction: row;
        padding: 1.5rem;
        border-bottom: 1px solid $cloud;
        border-radius: 0.125rem;
        box-shadow: 0 -1px 4px 0 $cloud;

        @include tablet {
            flex-direction: row;
            padding: 1.29rem 1.5rem;
            justify-content: space-between;
            border-bottom: none;
        }
        @include desktop {
            width: 63rem;
            margin-left: -498px;
        }
       .title-icon-wrap{
        display: flex;
        flex-direction: row;
        align-items: center;
       }
        &__back-icon {
            margin-left: -0.125rem;
        }

        &__page-title {
            font-size: 1.625rem;
            margin-left: 0.3125rem;

            @include tablet {
                font-size: 1.875rem;
                line-height: 2.125rem;
            }
        }
    }

    // ----- form ----- //
    .form {
        &-wrap {
            display: flex;
            flex-direction: column;

            @include tablet {
                flex-direction: row;
            }
        }

        .subtitle {
            font-size: 1.1875rem;
            line-height: 1.25rem;
            margin-bottom: 1.9375rem;

            @include tablet {
                font-size: 1.4375rem;
                line-height: 2.1875rem;
            }
        }

        &__label-inputs-wrap {
            border-top: 0.0625rem solid $cloud;
            padding: 1.5rem;

            @include tablet {
                width: 50%;
                border-top: none;
                padding: 0;
                margin: 1.8125rem 0;
                padding: 0 2rem;
            }
            .form-input{
                margin-bottom: 0;
            }
        }

        &__label-inputs-wrap:first-of-type {
            border-right: 0.0625rem solid $cloud;
        }

        &__edit-error{ 
            &-container {
            position: relative;
        }

            &-wrapper {
            position: absolute;
            top: 100%;
            display: flex;
            align-items: center;
        }

    }
        
    .edit-error-icon {
        margin-right: 5px;
    }
        
    .error-message {
        margin: 0;
    }

        &__labels {
            display: block;
            margin-top: 1.375rem;

            @include tablet {
                margin-top: 1.5625rem;
            }

            .label-text {
                font-weight: 600;
                margin-bottom: 0.25rem;
                line-height: 1.0625rem;

                @include tablet {
                    margin-bottom: 0.375rem;
                }
            }
        }

        &-input {
            width: 100%;
        }

        .edit-warehouse-form-buttons{
            @include flex-space-between;
            background-color: $lightgrey;
            padding: 1rem 1.5rem;

            @include tablet {
                justify-content: flex-end;
            }

            .secondary-button,
            .primary-button {
                width: 47%;
            }

            .secondary-button {
                @include tablet {
                    width: 4.5rem;
                    padding: 0 0.375rem;
                    font-size: 0.8125rem;
                    margin-right: 16px;
                }
            }

            .primary-button {
                font-weight: 500;

                @include tablet {
                    width: 8.625rem;
                    font-size: 0.8125rem;
                }
            }
        }
    }
}
.form-error__container {
    position: relative;
}

.form-error__wrapper {
    position: absolute;
    top: 100%;
    display: flex;
    align-items: center;
    margin-top: -1rem;
}

.error-icon {
    margin-right: 5px;
    /* Adjust as needed */
}

// .error-message {
//     margin: 0;
// }

