@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.inventory-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  // Title Section Styles
 .inv-page-title-section{
  background-color: #ffffff;
    position: absolute;
    top: 6.6875rem;
    left: 49.5%;
    margin-left: -43%;
    width: 87%;
    min-width: 18.375rem;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    border-bottom: .0625rem solid $cloud;
    border-radius: 0.125rem;
    box-shadow: 0 -0.0625rem .25rem 0 $cloud;

  @include tablet {
    flex-direction: row;
    padding: 1.29rem 1.5rem;
    justify-content: space-between;
    border-bottom: none;
  }
  @include desktop {
    width: 63rem;
    margin-left: -31.125rem;
  }
 }

  .inv-title {
    font-size: 1.625rem;
    line-height: 1.75rem;
    margin-top: 0.4rem;
    margin-bottom: 1rem;
    @include tablet {
      font-size: 1.75rem;
    }
  }

  .search-button-wrap {
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
      gap: 1rem;
    }
  }

  .search-bar-wrap {
    position: relative;
  }
  .inv-search-bar,
  &__add-button {
    margin-top: 1rem;

    @include tablet {
      margin-top: 0;
    }
  }

  &__search-bar {
    padding: 0rem 0.8125rem;
    width: 100%;
    @include tablet {
      width: 91%;
    }
    @include desktop {
      width: 17.375rem;
      margin-right: 1rem;
    }

    &::placeholder {
      font-size: 0.75rem;
      @include tablet {
        font-size: 0.8125rem;
      }
    }
  }

  &__search-icon {
    position: absolute;
    right: 0.8125rem;
    top: 1.4375rem;
    width: 1.4375rem;

    @include tablet {
      right: 1.875rem;
      top: 0.4375rem;
      width: 1.5625rem;
    }
  }

  &__add-button {
    font-size: 0.75rem;
    font-weight: 100;
    @include tablet {
      font-size: 0.8125rem;
    }
  }

  .inventory-main-section{
    margin-top: 163px;
    width: 87%;
    background-color: #ffffff;
    box-shadow: 0 2px 5px 0 $cloud;
    border-radius: 0.125rem;
    @include tablet{
      margin-top: 21px;
    }
    @include desktop{
      width: 63rem;
    }
  }
}
