@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.main{
    box-shadow: 0 0.125rem 0.3125rem 0 $cloud;
    border-radius: 0.125rem;
    background-color: $white;
    position: absolute;
    top: 8.0625rem;
    left: 50%;
    margin-left: -46%;
    width: 92%;
    min-width: 18.375rem;
    z-index: 1;

    @include tablet {
      top: 5.8125rem;
      margin-left: -45.5%;
      width: 91%;
    }
    @include desktop {
      width: 63rem;
      margin-left: -31.5625rem;
    }

    //----- title section ----- //
    .title-section{
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      padding: 36px 24px 23px;

      &__back-icon{
        margin-left: -2px;
      }

       &__page-title{
        font-size: 26px;
        margin-left: 5px;
       }
    }


    // ----- form ----- //
    .form{

      &-wrap{
        display: flex;
        flex-direction: column;

        @include tablet{
          flex-direction: row;
        }
      }

      .subtitle{
        font-size: 19px;
        line-height: 20px;
        margin-bottom: 31px;
      }

      &__label-inputs-wrap{
        border-top: 1px solid $cloud;
        padding: 24px;
      }

      &__labels{
        display: block;
        margin-top: 22px;

        .label-text{
          font-weight: 600;
          margin-bottom: 4px;
          line-height: 17px;
        }
      }

      &-input{
        width: 100%;
      }

      &__buttons{
        @include flex-space-between;
        background-color: $lightgrey;
        padding: 16px 24px;

        .secondary-button, .primary-button{
          width: 47%;
        }
        .primary-button{
          font-weight: 500;
        }
      }
    }
}