@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.warehouses-list {
  &__item {
    padding: 1.125rem 1.5rem;
    border-top: 0.0625rem solid $cloud;
    display: flex;
    flex-direction: column;
    &:hover {
      background-color: $cloud;
    }
    @include tablet {
      @include flex-space-between;
      padding: 1.1875rem 2rem;
      flex-direction: row;
      border-top: none;
      border-bottom: 0.0625rem solid $cloud;
    }
  }

  .warehouse-details-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @include tablet {
      width: 100%;
      justify-content: normal;
    }
  }

  .name-address-wrap,
  .contact-name-info-wrap {
    display: flex;
    flex-direction: column;
    min-width: 9.0625rem;
    @include tablet {
      flex-direction: row;
      align-items: center;
      width: 50%;
      margin-right: -2.6875rem;
    }
  }

  .heading-detail-wrap {
    margin-right: 0.625rem;
    margin-bottom: 0.9375rem;

    @include tablet {
      justify-content: space-around;
      margin: 0;
      width: 45%;
    }
  }

  .contact-name {
    @include tablet {
      margin-left: 5%;
    }
  }

  &__heading {
    display: block;
    font-size: 0.625rem;
    color: $slate;
    @include tablet {
      display: none;
    }
  }

  &__detail {
    font-size: 0.75rem;
    margin-top: 0.125rem;
    margin-right: 1.25rem;
    line-height: 1.125rem;
    @include tablet {
      font-size: 0.8125rem;
      width: 93%;
      margin: 0;
    }
  }

  .link-style {
    color: $indigo;
    font-weight: 600;
    display: flex;
    align-items: center;
    &:hover {
      text-decoration: underline;
    }
    .right-arrow {
      display: inline-block;
      width: 1.1875rem;
      height: 1.1875rem;
      margin-left: 0.1875rem;
      background-image: url(../../assets/icons/chevron_right-24px.svg);
      background-size: cover;
      background-repeat: no-repeat;
      transition: transform 0.3s ease;
    }
  }

  .warehouses-list__item:hover .right-arrow {
    transform: translateX(.25rem);
  }

  // icons
  .icons-wrap {
    @include flex-space-between;
    @include tablet {
      align-items: center;
      width: 4.375rem;
    }
  }

  &__delete-icon,
  &__edit-icon {
    background-repeat: no-repeat;
    background-size: cover;
    width: 1.4375rem;
    height: 1.4375rem;
    margin-bottom: 0.1875rem;
    &:hover {
      cursor: pointer;
    }
  }
}

.quantity-warehouse {
  display: flex;
}
